.display:inline-block{
    vertical-align: top;
}
.logo{
    width: 73%;
    padding: 1%;
    background-image: url("../images/d_logo.png");
    background-repeat: no-repeat;
    text-align: left;

}
.nav{
    width: 73%;
    padding: 1%;
}
.inline-block{
    width: 50%;
    margin-left: auto;
}
.herolmg{
    height: 600px;
    padding: 25px;
}
.content{
    width: 500px;
    height: 400px;
    margin: 0 auto;
}
.inline-block{
    background-color: #373738;
    padding: 1%;
    align-items: baseline;
}