body{
    background-color: #555555;
}
#header{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 150px;
    height: 150px;
}
.nav{
    display: inline-block;
    background-color: #555555;
    padding: 20px;
}
.right ul{
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.right a{
    display: inline-block;
    justify-content: flex-end;
    width: 25%;
   color: white;
   padding: 25px;
   font-size: 14px;
   text-decoration: none;
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Bold'), url('OPTIMA_B.woff') format('woff');
    }
.column {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
    'about about'
    'left right';
    grid-template-rows: 25% 25% 50%;
    grid-template-columns: 25% 75%;

}
.about {
    grid-area: about;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}
.left{
    grid-area: left;
}
.right{
    grid-area: right;
}
.text3 h2{
    color: #D7D7D7;
    font-family: helvetica;
    font-size: 84px; 
    transform: rotate(270deg);
    grid-area: right;
}
.text4 h2{
    color: #D7D7D7;
    font-family: helvetica;
    font-size: 84px; 
    transform: rotate(270deg);
}
.education,.work_experience{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.text1{
    display: inline-block;
    background-position: center;
}
.education{
    margin-top: 10px;
    justify-content:flex-start;
    padding: 30px;
}
.work_experience{
    margin-top: 10px;
    justify-content: flex-start;
    padding: 30px;
}
.text h1{
    color: white;
    font-family: Helvetica;
    font-size: x-large;
}
.text1 p{
    color: white;
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Bold'), url('OPTIMA_B.woff') format('woff');
}
.button{
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Bold'), url('OPTIMA_B.woff') format('woff');
}
.text1 h1{
    color: white;
    font-family: helvetica;
}
.text p{
    margin-top: 10px;
    color: white;
    @font-face {
        font-family: 'Optima';
        font-style: normal;
        font-weight: normal;
        src: local('Optima Bold'), url('OPTIMA_B.woff') format('woff');
        }
        margin-top: 20px;
}
.heroimg{
    height: 650px;
    width: 400px;  
    margin: 0%; 
}
.left ul{
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    list-style: none;   
}
.left a{
    grid-area: left;
    display: inline-block;
    justify-content: left;
    width: 25%;
   color: white;
   padding: 25px;
   font-size: 14px;
   text-decoration: none;
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Bold'), url('OPTIMA_B.woff') format('woff');
    }   
}
