.logo{
    background: #555555;
    height: 230px;
    width: 230px;
    background-image: url("../images/w_logo.png");
    background-repeat: no-repeat;
    background-position: left;
}
.nav{
    display: inline-block;
    background-color: #555555;
    padding: 20px;
    vertical-align: top;
}
.left{
    height: 50px;
    display: inline-block;
    justify-content: left;
    align-items: flex-start;
}
.inline-block{
    width: 50%;
    margin-left: auto;
}
.heroimg{
    height: 600px;
    padding: 25px;
    background-image: url("../images/me.JPG");
    background-repeat: no-repeat;

}
.content{
    width: 500px;
    height: 400px;
    margin: 0 auto;
}
.inline-block{
    background-color: #373738;
    padding: 1%;
}